<div class="container-fluid">
  <div class="row">
    <nav class="navbar d-flex justify-content-between navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
      
        
        
        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/home">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/students">Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/myprojects">My Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tweets">Tweets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://google.com">Google</a>
            </li>

          </ul>
          <form class="d-flex" role="search">
              <img [src]="profilePic" class="profilePic" [width]="width" [height]="height" [attr.myfavouritefood] ="favouriteFood">
              <span class="greeting" style="width: 250px;">Hello, {{ firstName }} {{ lastName }}!</span>
              <span class="status" [class]="status"></span>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" [style.backgroundColor]="btnBgColor" [style.borderColor]="btnBorderColor">Search</button>
          </form>
          
        </div>
     
  </nav>        
         

    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="banner"> -->
        
    <!-- </div> -->
    <!-- <div class="main"> -->
      <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
    <div class="footer">
      
    </div>
  </div>
</div>
